<div class="col-md-6">
  <h2 class="bg-light">会員情報編集</h2>

  <%= form_with model: @customer, url: customers_path, id: 'edit_customer', class: 'new_customer', local: true do |f| %>
    <div class="fald">
      <table>
        <tr>
          <td>
            <p>名前</p>
          </td>
          <td></td>
          <td class="table_form">
            <%= f.text_field :first_name %>
          </td>
          <td class="table_kana"></td>
          <td class="table_right">
            <%= f.text_field :first_name %>
          </td>
        </tr>
        <tr>
          <td>
            <p>フリガナ</p>
          </td>
          <td></td>
          <td>
            <%= f.text_field :first_name_kana %>
          </td>
          <td class="table_kana"></td>
          <td class="table_right">
            <%= f.text_field :last_name_kana %>
          </td>
        </tr>
        <tr>
          <td>
            <p><%= f.label :email, "メールアドレス" %></p>
          </td>
          <td></td>
          <td>
            <%= f.email_field :email, autocomplete: "email" %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <p><%= f.label :postcode, "郵便番号(ハイフンなし)" %></p>
          </td>
          <td></td>
          <td>
            <%= f.text_field :postcode %>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <p><%= f.label :address, "住所" %></p>
          </td>
          <td></td>
          <td colspan="3">
            <%= f.text_field :address, size: 55 %>
          </td>
        </tr>
        <tr>
          <td>
            <p><%= f.label :postcode, "電話番号(ハイフンなし)" %></p>
          </td>
          <td></td>
          <td>
            <%= f.text_field :postcode %>
          </td>
          <td></td>
        </tr>
      <table>
    </div>
  <% end %>
</div>
