<h2>新規会員登録</h2>

<%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
  <table>
    <tr>
      <td>
        <p>名前</p>
      </td>

      <td>
        <p><%= f.label :last_name, "(姓)" %></p>
      </td>

      <td class="table_form">
        <%= f.text_field :last_name, placeholder: "令和", autofocus: true %>
      </td>

      <td class="table_kana">
        <p><%= f.label :first_name, "(名)" %></p>
      </td>

      <td class="table_right">
        <%= f.text_field :first_name, placeholder: "道子", autofocus: true %>
      </td>
    </tr>
    <tr>
      <td>
        <p>フリガナ</p>
      </td>
      <td>
        <p><%= f.label :last_name_kana, "(セイ)" %></p>
      </td>
      <td>
        <%= f.text_field :last_name_kana, placeholder: "レイワ", autofocus: true %>
      </td>
      <td class="table_kana">
        <p><%= f.label :first_name_kana, "(メイ)" %></p>
      </td>
      <td class="table_right">
        <%= f.text_field :first_name_kana, placeholder: "ミチコ", autofocus: true %>
      </td>
    </tr>
    <tr>
      <td>
        <p><%= f.label :email, "メールアドレス" %></p>
      </td>
      <td></td>
      <td>
        <%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email" %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <p><%= f.label :postcode, "郵便番号(ハイフンなし)" %></p>
      </td>
      <td></td>
      <td>
        <%= f.text_field :postcode, placeholder: "000000", autofocus: true %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <p><%= f.label :address, "住所" %></p>
      </td>
      <td></td>
      <td colspan="3">
        <%= f.text_field :address, size: 55, placeholder: "東京都渋谷区代々木神園町0-0", autofocus: true %>
      </td>
    </tr>
    <tr>
      <td>
        <p><%= f.label :tel, "電話番号(ハイフンなし)" %></p>
      </td>
      <td></td>
      <td>
        <%= f.text_field :tel, placeholder: "00000000000", autofocus: true %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>rails 
        <p><%= f.label :password, "パスワード(6文字以上)" %></p>
      </td>
      <td></td>
      <td>
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <p><%= f.label :password_confirmation, "パスワード(確認用)" %></p>
      </td>
      <td></td>
      <td>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        <div class="actions">
          <%= f.submit "新規登録", class: "btn btn-success" %>
        </div>
      </td>
      <td></td>
    </tr>
  </table>



<% end %>

<p>既に登録済みの方</p>
<p>
  <div class="devise_link_to"><%= link_to "こちら", new_session_path(resource_name) %></div> からログインして下さい。
</p>

</div>