<div class="container">
  <div class="row no-gutters">
    <div class="col-sm-3 text-center m-5">
      <table>
        <tr>
          <th class="size pr-5">商品一覧</th>
          <td><%= link_to "", new_admin_item_path, class: "far fa-plus-square" %></td>
        </tr>
      </table>
    </div>

    <table class="table border-bottom">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <%= link_to admin_item_path(item) do %>
                <%= item.name %>
              <% end %>
            </td>
            <td><%= item.price.to_s(:delimited) %> 円</td>
            <td><%= item.genre.category %></td>
            <td>
              <!--http://banker0507.blogspot.com/2012/07/booleantruefalse.html 参考サイト-->
              <%= item.status ? "販売中" : "販売停止中" %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
    <%= paginate @items %>

  </div>
</div>