<div class="container">
  <div class="row">
    <div class="col-sm-3 text-center m-3">
      <table>
        <tr>
          <th class="size pr-5 font-weight-normal">商品一覧</th>
          <td><%= link_to "", new_admin_item_path, class: "fas fa-cart-plus" %></td>
        </tr>
      </table>
    </div>

    <table class="table border-bottom">
      <thead class="bg-light">
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <%= link_to admin_item_path(item) do %>
                <%= item.name %>
              <% end %>
            </td>
            <td><%= item.price.to_s(:delimited) %> 円</td>
            <td><%= item.genre.category %></td>

              <!--http://banker0507.blogspot.com/2012/07/booleantruefalse.html 参考サイト-->
            <td>
              <% if item.status == true %>
                <p class="text-success">販売中</p>
              <% else %>
                <p class="text-danger">販売停止中</p>
              <% end %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>

    <div class="col-12">
      <div class="d-flex justify-content-center mt-5">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>




