<div class="container">
  <div class="row no-gutters">
    <div class="col-md-3 text-center m-5">
      <h3 class="text-light bg-dark p-0">商品一覧</h3>
    </div>

    <table class="table border-bottom">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td>
              <%= link_to admin_item_path(item) do %>
                <% item.name %>
              <% end %>
            </td>
            <td><%= item.price %></td>
            <td><%= item.genre.category %></td>
            <td>
              
            </td>
          </tr>
        <% end %>
        <%= paginate @items %>
      </tbody>
    </table>

  </div>
</div>