<div class="containar">
  <div class="row no-gutters">
    <div class="col-md-3 text-center m-5">
      <h3>商品新規登録</h3>
    </div>
  </div>

  <div class="row">
    <div class='col-md-10 offset-md-1'>
      <%= form_with model: @item,url: admin_items_path, local: true do |f| %>
      <table>
        <tr>
          <th>商品画像</th>
          <td><%= f.attachment_field :item_image %></td>
        </tr>

        <tr>
          <th class="pt-5">商品名</th>
          <td class="pt-5"><%= f.text_field :name,  placeholder: '商品名' %></td>
        </tr>

        <tr>
          <th class="pt-5">商品説明</th>
          <td class="pt-5"><%= f.text_area :introduction,  placeholder: 'ここに説明文を記述します' %></td>
        </tr>

        <!--https://qiita.com/ohnitakahiro/items/c536fe65e37980e1087e　参考サイト-->
        <tr>
          <th class="pt-5">ジャンル</th>
          <td class="pt-5"><%= f.collection_select(:genre_id, @genres, :id, :category, prompt: '-- 選択してください --') %></td>
        </tr>

        <tr>
          <th class="pt-5">税抜価格</th>
          <td class="pt-5"><%= f.text_field :price, placeholder: '1000' %> 円</td>
        </tr>

        <tr>
          <th class="pt-5">販売ステータス</th>
          <td class="pt-5 pl-3">
            <%= f.radio_button :status, true %> 販売中
            <%= f.radio_button :status, false %> 販売停止中
            <%= f.submit "新規登録", class:"btn btn-success btn-md" %>
          </td>
        </tr>

      </table>
      <% end %>
    </div>
  </div>
</div>



