<div class="container">
  <div class="row">
    <div class="col-md-3 text-center m-5">
      <h3 class="text-dark bg-light p-0">商品詳細</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <%= attachment_image_tag @item, :item_image, :fill, 300, 300, format: 'jpeg', fallback: "no_image.jpg" %>
    </div>

    <div class="col-sm-8">
      <table>
        <tr>
          <th height="50">商品名</th>
          <td><%= @item.name %></td>
        </tr>

        <tr>
          <th height="50">商品説明</th>
          <td><%= @item.introduction %></td>
        </tr>

        <tr>
          <th height="50">ジャンル</th>
          <td><%= @item.genre.category %></td>
        </tr>

        <!--https://nllllll.com/ruby-on-rails/%E3%80%90rails%E3%80%91%E6%B6%88%E8%B2%BB%E7%A8%8E%E3%81%AE%E8%A8%88%E7%AE%97/-->
        <tr>
          <th height="50">税込価格<br />(税抜価格)</th>
          <td><%= @item.tax_price.to_s(:delimited) %> (<%= (@item.price) %>) 円</td>
        </tr>

        <tr>
          <th height="100">販売ステータス</th>
          <td>
            <%= @item.status %>
          </td>
        </tr>

        <tr>
          <th></th>
          <td><%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-success btn-lg" %></td>
        </tr>
      </table>
    </div>

  </div>

</div>