<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2>会員情報編集</h2>

      <%= form_with model: @customer, url: admin_customer_path(@customer.id), local: true do |f| %>
        <table class="table">
          <tr>
            <td><p>会員ID</p></td>
            <td></td>
            <td><%= @customer.id %></td>
          </tr>

          <tr>
            <td>
              <p>名前</p>
            </td>
            <td></td>
            <td class="table_form">
              <%= f.text_field :last_name %>
            </td>
            <td>
              <%= f.text_field :first_name %>
            </td>
          </tr>

          <tr>
            <td>
              <p>フリガナ</p>
            </td>
            <td></td>
            <td>
              <%= f.text_field :last_name_kana %>
            </td>
            <td>
              <%= f.text_field :first_name_kana %>
            </td>
          </tr>

          <tr>
            <td>
              <%= f.label :postcode, "郵便番号" %>
            </td>
            <td></td>
            <td>
              <%= f.text_field :postcode, placeholder:"ハイフンなし" %>
            </td>
          </tr>

          <tr>
            <td>
              <%= f.label :address, "住所" %>
            </td>
            <td></td>
            <td colspan="3">
              <%= f.text_field :address, size: 55 %>
            </td>
          </tr>

          <tr>
            <td>
              <%= f.label :tel, "電話番号" %>
            </td>
            <td></td>
            <td>
              <%= f.text_field :tel, placeholder:"ハイフンなし" %>
            </td>
          </tr>

          <tr>
            <td>
              <%= f.label :email, "メールアドレス" %>
            </td>
            <td></td>
            <td>
              <%= f.email_field :email, autocomplete: "email" %>
            </td>
          </tr>

          <tr>
            <td><p>会員ステータス</p></td>
            <td></td>
            <td>
              <%= f.radio_button :is_deleted, :有効 %> 有効
              <%= f.radio_button :is_deleted, :退会 %> 退会
            </td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td>
              <%= f.submit '変更を保存', class:"btn btn-success" %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>