<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h2>会員一覧</h2>

      <table class="table">
        <thead>
          <tr>
            <th>
              <p>会員ID</p>
            </th>
            <th>
              <p>氏名</p>
            </th>
            <th>
              <p>メールアドレス</p>
            </th>
            <th>
              <p>ステータス</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td>
              <p><%= customer.id %></p>
            </td>
            <td>
              <%= link_to admin_customer_path(customer.id) do %>
                <p><%= customer.last_name %><%= customer.first_name %></p>
              <% end %>
            </td>
            <td>
              <p><%= customer.email %></p>
            </td>
            <td>
              <p><%= customer.is_deleted ? "退会" : "有効" %></p>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <!--ページ機能追加-->
      <div class="d-flex justify-content">
        <%= paginate @customers %>
      </div>
    </div>
  </div>
</div>