<h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h2>

<table class="table">
  <tbody>
    <tr>
      <td><p>会員ID</p></td>
      <td><%= @customer.id %></td>
    </tr>
    <tr>
      <td><p>氏名</p></td>
      <td><%= @customer.last_name %><%= @customer.first_name %></td>
    </tr>
    <tr>
      <td><p>フリガナ</p></td>
      <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
    </tr>
    <tr>
      <td><p>郵便番号</p></td>
      <td><%= @customer.postcode %></td>
    </tr>
    <tr>
      <td><p>住所</p></td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td><p>電話番号</p></td>
      <td><%= @customer.tel %></td>
    </tr>
    <tr>
      <td><p>メールアドレス</p></td>
      <td><%= @customer.email %></td>
    </tr>
    <tr>
      <td><p>ステータス</p></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= link_to '編集する', edit_admin_customer_path(@customer.id), class:"btn btn-success text-light" %>
      </td>
      <td>
        <%= link_to '注文履歴一覧を見る', admin_orders_path, class:"btn btn-primary text-light" %>
      </td>
    </tr>
  </tbody>
</table>