<div class="container mt-5 px-1 px-sm-0">

  <div class="row">
    <div class="col-md-2 offset-md-1 mb-3" >
      <h3 class="bg-light text-center">マイページ</h3>
    </div>
  </div>

    <div class="col-md-8">
      <h4 class="mb-4" >登録情報　<%= link_to '編集する', edit_customers_path, class: "btn btn-sm btn-success" %></h4>
  
      <table class='table table-bordered'>
        <tr></tr>
        <tr>
      	  <th class="table-secondary" style="width: 20%">氏名</th>
      	  <th><%= current_customer.last_name %>  <%= current_customer.first_name %></th>
        </tr>
        <tr>
      	  <th class="table-secondary">カナ</th>
      	  <th><%= current_customer.last_name_kana %>  <%= current_customer.first_name_kana %></th>
        </tr>
        <tr>
      	  <th class="table-secondary">郵便番号</th>
      	  <th><%= current_customer.postcode %></th>
        </tr>
        <tr>
      	  <th class="table-secondary">住所</th>
      	  <th><%= current_customer.address %></th>
        </tr>
        <tr>
      	  <th class="table-secondary">電話番号</th>
      	  <th><%= current_customer.tel %></th>
        </tr>
        <tr>
      	  <th class="table-secondary">メールアドレス</th>
      	  <th><%= current_customer.email %></th>
        </tr>
      </table>
  
      <h4 class="mb-4 mt-4" >配送先　　<%= link_to '一覧を見る', shopping_addresses_path, class: "btn btn-sm btn-primary " %></h4>
  
      <h4>注文履歴　<%= link_to '一覧を見る', orders_path, class: "btn btn-sm btn-primary " %></h4>
    </div>

</div>


