  <div class="container mt-5 px-1 px-sm-0 ml-5">

    <div class="row">
      <div class="col-3 offset-md-1">
        <h3 class="bg-light text-center">注文情報確認</h3>
      </div>
    </div>

    <div class="row">
      <div  class="col-9 ml-auto">
        <table class="table table-bordered">
          <tr class="table-secondary">
            <th>商品名</th>
            <th>単価(税込み)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <!--item_id_change　出ないとエラーが起きる-->
              <%= attachment_image_tag cart_item.item, :item_image, :fill, 100, 50, format: 'jpeg', fallback: "no_image.jpg", size: '100x50' %>
              <%= cart_item.item.name %>
            </td>
            <td class="align-middle"><%= cart_item.item.tax_price.to_s(:delimited) %>円</td>
            <td class="align-middle"><%= cart_item.quantity %></td>
            <td class="align-middle"><%= (cart_item.item.tax_price * cart_item.quantity).to_s(:delimited)%>円</td>
          </tr>
          <% end %>
        </table>
      </div>

      <div class="col-3">
        <table class="table table-bordered">
          <tr>
            <th class="table-secondary">送料</th>
            <td><%= session[:order][:fee].to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <th class="table-secondary">商品合計</th>
            <td>
              <%= (session[:order][:total_price] - session[:order][:fee]).to_s(:delimited) %>円
            </td>
          </tr>
          <tr>
            <th class="table-secondary">請求金額</th>
            <td><%= session[:order][:total_price].to_s(:delimited) %>円</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
       <div class="col-9">
         <table class="table table-borderless">
          <tr>
            <th style="width: 11%">支払方法</th>
            <td><%= session[:order]["pay_way"] %></td>
          </tr>
          <tr>
            <th>お届け先</th>
            <td>
              〒<%= session[:order][:postcode] %>
              <%= session[:order][:address] %></br>
              <%= session[:order][:name] %>
            </td>
          </tr>
        </table>
       </div>
    </div>

    <div class="row">
      <div class="col-2 offset-md-5 mt-5">
        <%= form_with method:@order,url: {controller: 'orders', action: 'create'}, local:true do |f| %>
          <%= f.submit "注文を確定する" ,class: "btn w-100 btn-success"%>
        <% end %>
      </div>
    </div>

  </div>
