   <div class="container mt-5 px-1 px-sm-0" >
     
     
      <div class="row">
        <div class="col-md-3 offset-md-1 mb-4" >
          <h3 class="bg-light text-center">注文履歴一覧</h3>
        </div>
      </div> 
      <div class="row">
        <table class="table table-bordered" >
         <tr class="table-secondary">
           <th style="width: 15%">注文日</th>
           <th>配送先</th>
           <th style="width: 15%">注文商品</th>
           <th style="width: 8%">支払金額</th>
           <th style="width: 10%">ステータス</th>
           <th style="width: 11%">注文詳細</th>
         </tr>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
              <td>
                〒<%= order.postcode%></br>
                <%= order.address%></br>
                <%= order.name%>
              </td>
              <td class="align-middle">
                <% order.order_items.each do |order_item| %>
                  <%= order_item.item.name %></br>
                <% end %>
              </td>
              <td class="align-middle"><%= order.total_price.to_s(:delimited) %>円</td>
              <td class="align-middle"><%= order.status %></td>
              <td class="align-middle"><%= link_to "表示する", order_path(order), class: "btn btn-primary" %></td>
            </tr>
          <% end %>
       </table>       
     </div>
     
    
   </div>