<div class="container mt-5 px-1 px-sm-0 ml-4">
  
  <div class="row">
    <div class="col-md-3 offset-md-1 mb-5" >
      <h3 class="bg-light text-center">注文履歴詳細</h3>
    </div>
  </div> 

  <div class="row ml-auto">
    <div class="col-md-2" >
      <h5>注文情報</h5>
    </div>
    <div class="col-md-2 offset-md-6" >
      <h5>請求情報</h5>
    </div>
  </div>


  <div class="row ml-auto">
    <div class="col-md-8" >
      <table class="table table-bordered" >
        <tr>
          <td style="width: 15%" class="table-secondary">注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td class="table-secondary">配送先</td>
          <td>
            〒<%= @order.postcode %></br>
            <%= @order.address %></br>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <td class="table-secondary">支払方法</td>
          <td><%= @order.pay_way %></td>
        </tr>
        <tr>
          <td class="table-secondary">ステータス</td>
          <td><%= @order.status %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-4" >
      <table class="table table-bordered">
        <tr>
          <td  class="table-secondary">商品合計</td>
          <td><%= (@order.total_price - @order.fee).to_s(:delimited) %></td>
        </tr>
        <tr>
          <td class="table-secondary">配送料</td>
          <td><%= @order.fee %></td>
        </tr>
        <tr>
          <td class="table-secondary">ご請求額</td>
          <td><%= @order.total_price.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>
  
  <div calss="row">
    <div class="col-md-2" >
      <h5>注文商品</h5>
    </div>
  </div>

  <div calss="row">
    <div class="col-md-10">
      <table class="table table-bordered">
          <tr class="table-secondary">
            <td style="width: 55%" >商品</td>
            <td style="width: 15%" >単価(税込み)</td>
            <td style="width: 15%" >個数</td>
            <td style="width: 15%" >小計</td>
          </tr>
          <% @order_items.each do |order_item| %>
            <tr>
              <td><%= order_item.item.name %></td>
              <td><%= order_item.include_tax.to_s(:delimited) %></td>
              <td><%= order_item.quantity %></td>
              <td><%= (order_item.include_tax * order_item.quantity).to_s(:delimited) %></td>
            </tr>
          <% end %>
      </table>
    </div>
  </div>

</div>