<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 px-sm-0 mx-auto">
      <h3 class="my-5">管理者ログイン</h3>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <table class="table table-borderless">

            <tr>
              <td><%= f.label :メールアドレス %></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'naganocake@naganocake.com', size: 40 %></td>
            </tr>

            <tr>
              <td><%= f.label :パスワード %></td>
              <td><%= f.password_field :password, autocomplete: "current-password", size: 40 %></td>
            </tr>

            <tr>
              <td></td>
              <td><%= f.submit "ログイン", class: "btn w-25 btn-primary center-block" %></td>
            </tr>

          </table>
        </div>
      <% end %>

    </div>
  </div>
</div>










