<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
        <%= render 'genres/index' %>
    </div>
    <div class="col-md-8">
        <div class="d-block col-md-8 offset-md-1">
            <div class="card">
              <%= image_tag('Sample-Top.jpg' , size: "550x400", class: 'card-img')%>
              <div class="card-img-overlay d-flex align-items-center">
                <p class="card-text bg-white border border-dark">
                ようこそ、ながのCAKEへ！</br>
                このサイトは、ケーキ販売のECサイトになります。</br>
                会員でない方も商品の閲覧はできますが、</br>
                購入には会員登録が必要になります。</br>
                </p>
              </div>
            </div>
              <table>
                <thead>
                  <h2>新着商品</h2>
                </thead>
                <tbody>
                  <% @items.first(4).each do |item| %>
                  <tr>
                    <td>
                      <%= link_to item_path(item) do%>
                        <%= attachment_image_tag item, :item_image, :fill, 250, 150, format: 'jpeg', fallback: "no_image.jpg" %>
                      <% end %>
                      <p><%= item.name %></p>
                      <p><%= item.price.to_s(:delimited) %></p>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              <%= link_to "すべての商品を見る", items_path %>
        </div>
    </div>
  </div>
</div>