<h2>ショッピングカート</h2>
  <span class="btn btn-danger all_delete_btn">カートを空にする</span>


<table border="1">
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
  </tr>
  <% @sum = 0 %>
  <% @cart.each do |item| %>
  <tr>
    <td>
      <%= item.name %>
    </td>
    <td>
      <%= item.price %>
    </td>
    <td>
      <%= select_tag :item.quantity, options_for_select((1..5).to_a) %>
      <span class="btn btn-success">変更</span>
    </td>
    <td>
      <%= item.price %>
    </td>
    <td>
      <span class="btn btn-danger">削除する</span>
    </td>
  </tr>
  <% sum += item.price %>
  <% end %>
</table>

<span class="btn btn-primary">買い物を続ける</span>

<table>
  <tr>
    <td>合計金額</td>
    <td><%= @sum %></td>
  </tr>
</table>

<span class="btn btn-success">情報入力</span>