<div class="container mt-5 px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
        <%= render 'genres/index' %>
    </div>
    <div class="col-md-8 offset-md-1">
      <%= attachment_image_tag @item, :item_image, :fill, 300, 300, format: 'jpeg', fallback: "no_image.jpg" %>
      <table>
        <tr>
          <th height="50">商品名</th>
          <td><%= @item.name %></td>
        </tr>

        <tr>
          <th height="50">商品説明</th>
          <td><%= @item.introduction %></td>
        </tr>

        <!--https://nllllll.com/ruby-on-rails/%E3%80%90rails%E3%80%91%E6%B6%88%E8%B2%BB%E7%A8%8E%E3%81%AE%E8%A8%88%E7%AE%97/-->
        <tr>
          <th height="50">税込価格</th>
          <td><%= @item.tax_price.to_s(:delimited) %>円</td>
        </tr>

        <tr>
          <th height="100">販売ステータス</th>
          <td>
            <%= @item.status  ? "販売中" : "販売停止中" %>
          </td>
        </tr>

        <% if customer_signed_in? %>
        <tr>
          <td>
            <%= form_with model: @cart_item, url: add_item_path ,local: true do |f| %>
              <%= f.hidden_field :item_id, :value => @item.id %>
              <%= f.select :quantity, options_for_select((1..99).to_a), include_blank: "個数選択" %>
              <%= f.submit 'カートに入れる', class:"btn btn-success" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>