<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCakeOtokojuku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <a class="navbar-brand" href="/">ながのCAKE</a>
        <ul>
          <% if customer_signed_in? %>
            
          <% elsif admin_signed_in? %>
          
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
